<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" , href="/img/icon.png" />
    <title>Weather App by {{ name }}</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site use data from mapbox.com and weatherstack.com</p>
      <img class="profile-photo" src="/img/muteshi.jpg" />
    </div>
    {{>footer}}
  </body>
</html>
