<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" , href="/img/icon.png" />
   
    <title>Weather App by {{ name }}</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    <p>Enter location to get weather information</p>
    <form>
      <input placeholder="Enter location">
      <button>Search</button>
    </form>
    <p id='msg-1'></p>
    <p id='msg-2'></p>
    </div>
    {{>footer}}
     <script src="/js/app.js"></script>
  </body>
</html>
